button,
input[type='submit'] {
  margin: .8rem auto;
  width: 100%;
  font-family: $f-steampunk;
  text-transform: uppercase;
  padding: 1rem;
  border: 6px solid $brown;
  &:hover {
    border: 6px solid transparent;
  }
}