button,
input[type='submit'] {
  margin: .8rem auto;
  width: 100%;
  font-family: $steampunk;
  text-transform: uppercase;
  padding: 1rem;
  border: 6px solid $bronze;
  transition: all .2s;
  &:hover,
  &:focus,
  &:active {
    border: 6px solid $white;
    color: $white;
    background-color: $bronze;
  }
}