legend,
label {
  font-weight: 700;
}

input[type="text"],
input[type="number"],
option {
  width: 100%;
  padding: .2rem .5rem;
  margin-bottom: .5rem;
}

input[type="number"] {
  -moz-appearance: textfield;/*For FireFox*/
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button { /*For Webkits like Chrome and Safari*/
    -webkit-appearance: none;
    margin: 0;
  }
}

//ERROR BUBBLES
//Inspired from: https://code-boxx.com/responsive-css-speech-bubbles/
.container-error {
  display: inline-block;
  margin: .2rem auto .5rem;
  padding: .4rem .6rem;
  background-image: linear-gradient($red, darken($red, 10));
  border-radius: 5px;
  position: relative;

  &::after {
    content: "";
    @include position(absolute, -10px, null, null, 5%);
    border: 20px solid transparent;
    border-bottom-color: $red;
    border-top: 0;
  }

  p {
    margin: 0;
    color: $white;
    font-size: .8rem;
    text-align: left;
    letter-spacing: rem-calc(.2px);
  }
}