html {
	font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: $f-body;
  margin: 0;
  background: $white;
  text-align: center;
  overflow-x: hidden;
  // @include media (454px) {
  //   font-size: rem-calc(24px);
  // }
}

img {
	display: block;
	width: 100%;
	min-width: 100%;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10em $grey;
  z-index: -10;
} 

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 .5rem;
}

p,
label,
.legend {
  line-height: 1.3;
}

