html {
	font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: $main;
  margin: 0;
  background: $white;
  text-align: center;
  overflow-x: hidden;
}

img {
	display: block;
	width: 100%;
	min-width: 100%;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10em $grey;
  z-index: -10;
} 

.container-main {
  @include media(1200px) {
    @include flex(row, nowrap, space-between, flex-start);
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 .6rem;

  @include media(576px) {
    padding: 0 1.2rem;
  }
  @include media(996px) {
    padding: 0 2.5rem;
  }
}


p,
label,
.legend {
  line-height: 1.4;
}


// HELPER CLASSES
.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}