.logo-cog {
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.logo-lines {
  width: ;
  height: ;
  background: $black;
  &:before {
    content: '',
    
  }
}