.containerLogo {
  margin-top: 1rem;
  position: relative;
  &::before {
    content: '';
    width: 115px;
    height: 23px;
    background: url('./../assets/logoLinesL.svg') no-repeat left center;
    @include position(absolute, 19px, null, null, 0);
  }
  &::after {
    content: '';
    width: 115px;
    height: 23px;
    background: url('./../assets/logoLinesR.svg') no-repeat right center;
    @include position(absolute, 19px, 0, null, null);
  }
}

.logoCog {
  height: rem-calc(60px);
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

h1 {
  font-family: $f-logo;
  margin-top: .5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid $black;
}

p:last-of-type {
  padding-bottom: 1.1rem;
  border-bottom: 2px solid $black;
}