.logo-cog {
  width: rem-calc(50px);
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.logo-lines {
  margin: 0 auto;
  position: relative;
  width: rem-calc(300px);
  height: rem-calc(2px);
  background: $black;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: rem-calc(300px);
    height: rem-calc(2px);
    background: $black;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: rem-calc(300px);
    height: rem-calc(2px);
    background: $black;
  }
}