.newspaper {
  background-color: $white;
  padding: 1rem .5rem;
  @include box-shadow(1px, 1px, 10px, 2px, $grey);

  p {
    text-align: justify;
  }
  
  h2 {
  font-family: $f-npTitle;
  font-size: 3rem;
  line-height: 1;
  margin: 0;

  span {
    font-size: 2rem;
    display: block;
    }
  }

  h3,
  h4 {
    font-family: $f-storyTitle;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.7rem;
    margin: 0;
  }

  .title-info-line {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    p {
      margin: .4rem 0;
    }
  }
}