.container-newspaper {
  background-color: $white;
  padding: 1rem .5rem;
  margin: 2rem auto 1rem;
  border: 1px solid lighten($grey, 50%);

  p {
    text-align: justify;
  }
  
  h2 {
  font-family: $blackletter;
  font-size: 3rem;
  line-height: 1;
  margin: 0;

  span {
    font-size: 2rem;
    display: block;

    @include media(1200px) {
      font-size: 2.6rem;
    }
  }

    @include media(1200px) {
      font-size: 4.2rem;
    }
  }

  h3,
  h4 {
    font-family: $fatface;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.7rem;
    margin: 0;
  }

  .title-info-line {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    margin-bottom: 1rem;
    p {
      margin: .4rem 0;
      text-align: center;
    }
  }

  .container-newspaper-content {
    .container-img {
      margin-top: 1.4rem;
      margin-bottom: 1.4rem;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      padding-top: .4rem;
      padding-bottom: .4rem;

      @include media(996px) {
        margin: 0 1.4rem;
        border-top: none;
        border-bottom: none;
        border-left: 3px solid black;
        border-right: 3px solid black;
        padding: 0 .4rem;
      }
    }
    @include media(996px) {
      text-align: left;
      @include flex(row, nowrap, space-between, flex-start);
      .container-img {
        width: 38%;
      }
      .container-txt {
        width: 31%;
      }
    }
  }

  @include media(576px) {
    padding: 1.4rem 1rem;
  }

  @include media(996px) {
    padding: 2rem;
  }
}
