h2 {
  font-family: $f-npTitle;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 0;
  span {
    font-size: 2.5rem;
  }
}

h3,
h4 {
  font-family: $f-storyTitle;
}

.newspaper {
  background-color: $white; 
}