article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", serif;
  margin: 0;
  background: #F7F7F7;
  text-align: center;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  min-width: 100%;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 10em #AAA5A2;
          box-shadow: inset 0 0 10em #AAA5A2;
  z-index: -10;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 .6rem;
}

p,
label,
.legend {
  line-height: 1.3;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.containerLogo {
  margin-top: 1rem;
  position: relative;
}

.containerLogo::before {
  content: '';
  width: 115px;
  height: 23px;
  background: url("./../assets/logoLinesL.svg") no-repeat left center;
  position: absolute;
  top: 19px;
  left: 0;
}

.containerLogo::after {
  content: '';
  width: 115px;
  height: 23px;
  background: url("./../assets/logoLinesR.svg") no-repeat right center;
  position: absolute;
  top: 19px;
  right: 0;
}

.logoCog {
  height: 3rem;
  -webkit-animation: rotation 30s infinite linear;
          animation: rotation 30s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

h1 {
  font-family: "Rye", "cursive";
  margin-top: 1.5rem;
  padding-bottom: .8rem;
  line-height: 1.3;
}

.containerLine {
  width: 100%;
  position: relative;
}

.containerLine div {
  max-width: 100vw;
  width: 300px;
  height: 2.5px;
  background-color: #0B0906;
  margin: 0 auto;
}

.containerLine div::before, .containerLine div::after {
  content: '';
  display: block;
  height: 2.5px;
  background-color: #0B0906;
}

.containerLine div::before {
  width: 240px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -120px;
}

.containerLine div::after {
  width: 200px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -100px;
}

p:last-of-type {
  padding-bottom: 1.1rem;
  border-bottom: 2px solid #0B0906;
}

p:first-of-type {
  position: relative;
  display: inline-block;
}

p:first-of-type::before {
  content: '';
  display: block;
  position: relative;
  top: 22px;
  left: 24px;
  background: url("./../assets/pointingFinger.png") no-repeat;
  background-size: contain;
  width: 316px;
  height: 22px;
}

h2 {
  font-family: "UnifrakturCook", cursive;
  font-size: 3rem;
  display: block;
  line-height: 1;
  margin-bottom: 0;
}

h2 span {
  font-size: 2rem;
}

h3,
h4 {
  font-family: "Abril Fatface", cursive;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.7rem;
  margin: 0;
}

.newspaper {
  background-color: #F7F7F7;
}

/* ===== IMAGE CREDITS ===== 
Running boy: https://www.kisspng.com
Printing Press: https://www.kissclipart.com
Finger: http://clipart-library.com/clipart/pco5zo6zi.htm
Pointing finger (svg): https://publicdomainvectors.org/en/free-clipart/Pointing-hand/36152.html */
/*# sourceMappingURL=App.css.map */